<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.css">
	<title>API</title>
</head>
<body>
	<div class="contenedor">
		<div class="fondo-imagen">
			<div class="presentacion">
				<h1>API</h1>
			</div>
			<div class="explicacion">
				<h3>Modo de uso de la API</h3>
				<h4>Solo hay 4 posibilidades</h4>
				<div class="posibilidad">
					<p>GET /users/</p>
					<p>Trae todos los usuarios</p>
				</div>
				<div class="posibilidad">
					<p>POST /users/:usuario</p>
					<p>Agrega a un nuevo usuario</p>
				</div>
				<div class="posibilidad">
					<p>PUT /users/:usuario/:nuevovalor</p>
					<p>Actualiza a un usuario</p>
				</div>
				<div class="posibilidad">
					<p>DELETE /users/:usuario</p>
					<p>Elimina al usuario</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
