<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.css">
	<title>API</title>
</head>
<body>
	<div class="contenedor">
		<div class="fondo-imagen">
			<div class="presentacion">
				<h1>API</h1>
			</div>
			<div class="explicacion">
				<h3>Modo de uso de la API</h3>
				<h4>Posibilidades</h4>
				<div class="posibilidad">
					<p>GET /users</p>
					<p>Trae todos los usuarios</p>
				</div>
				<div class="posibilidad">
					<p>GET /users/email/:email</p>
					<p>Trae un usuario según su email</p>
				</div>
				<div class="posibilidad">
					<p>GET /users/name/:name</p>
					<p>Trae un usuario según su nombre</p>
				</div>
				<div class="posibilidad">
					<p>POST /users</p>
					<p>Agrega a un nuevo usuario mediante un formulario</p>
				</div>
				<div class="posibilidad">
					<p>PUT /users</p>
					<p>Actualiza a un usuario mediante un formulario</p>
				</div>
				<div class="posibilidad">
					<p>DELETE /users/:email</p>
					<p>Elimina al usuario por su email</p>
				</div>
				<a href="add" class="btn">Ir al formulario</a>
			</div>
		</div>
	</div>
</body>
</html>
